<template>

<header class="w-3/4 mx-auto text-gray-100 bg-gray-900 shadow body-font">
        <div class="container flex flex-col flex-wrap items-center p-0 mx-auto md:flex-row">
            <a
                class="flex items-center order-first mb-4 font-medium lg:order-none lg:w-1/5 title-font lg:items-center lg:justify-center md:mb-0">
                <img src="https://pazly.dev/logo.png" style="height: 40px; margin-top: 10px; margin-bottom: 10px;"
                    alt="logo">

                <span class="ml-3 text-xl">Cole Horvat</span>
            </a>
            <nav class="flex flex-row items-center justify-end text-base lg:w-2/5 md:ml-auto">
                <a class="header-links">About</a>
                <a class="header-links">Portfolio</a>
                <a class="header-links">Resume</a>
                <a class="header-links">Contact</a>
            </nav>
        </div>
    </header>
</template>

<script>

</script>

<style scoped>
    .header-container {
        @apply inline-flex h-12 min-w-full px-64 object-fill;
    }

    .header-links {
        @apply md:mr-10 mx-5 text-2xl border-b border-transparent cursor-pointer hover:text-gray-900 hover:border-indigo-600;
    }

    .header-right {
        @apply space-x-20 float-right;
    }
</style>
