<template>
    <div class="container min-w-full px-64 pt-24">
        <h1 class="text-6xl text-left intro-header">I’m Cole, Full-Stack Web Developer and Game Designer</h1>
        <p class="pt-10 text-xl text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Cum neque donec dignissim lacinia sed nisl volutpat mattis facilisis.
            Scelerisque erat felis ut enim. Malesuada nibh bibendum convallis.</p>
    </div>
</template>

<script>

</script>

<style scoped>
    .intro-header {
        width: 50vw
    }
</style>
