<template>
  <Header/>
  <Intro/>
</template>

<script>
import Header from './components/Header.vue'
import Intro from './components/Intro.vue'

export default {
  name: 'App',
  components: {
    Header,
    Intro
  }
}
</script>

<style>
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.debug {
  @apply border border-red-500
}
</style>
